In [5]:
import pandas as pd
import numpy as np

%matplotlib inline
!conda install -c anaconda seaborn -y

Collecting package metadata (current_repodata.json): done
Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.7.10
  latest version: 4.8.4

Please update conda by running

    $ conda update -n base -c defaults conda



# All requested packages already installed.

In [6]:
# STEP 1: LOAD DATA 

# Use pandas .read_csv() method to read in classified dataset
# index_col -> argument assigns the index to a particular column
df_2017= pd.read_csv('/Users/upasanadhar/Documents/Lakes/ML with Python/AWS hackathon/waqi-covid19-airqualitydata-2017H1.csv',index_col=0)
df_2018= pd.read_csv('/Users/upasanadhar/Documents/Lakes/ML with Python/AWS hackathon/waqi-covid19-airqualitydata-2018H1.csv',index_col=0)
df_2019= pd.read_csv('/Users/upasanadhar/Documents/Lakes/ML with Python/AWS hackathon/waqi-covid19-airqualitydata-2019Q1.csv',index_col=0)
df_2020= pd.read_csv('/Users/upasanadhar/Documents/Lakes/ML with Python/AWS hackathon/waqi-covid19-airqualitydata-2020.csv',index_col=0)

In [7]:
#Drop other columns, only work with max
df_2017=df_2017.drop(['Date', 'min','variance','count','median'], axis = 1)
df_2018=df_2018.drop(['Date', 'min','variance','count','median'], axis = 1)
df_2019=df_2019.drop(['Date', 'min','variance','count','median'], axis = 1)
df_2020=df_2020.drop(['Date', 'min','variance','count','median'], axis = 1)

In [8]:
df_2017=df_2017[df_2017['Specie'] == 'aqi']
df_2018=df_2018[df_2018['Specie'] == 'aqi']
df_2019=df_2019[df_2019['Specie'] == 'aqi']
df_2020=df_2020[df_2020['Specie'] == 'aqi']

In [9]:
#FOR 2017
df_2017.sort_values(by=['max'], inplace=True, ascending=False)
#FOR 2018
df_2018.sort_values(by=['max'], inplace=True, ascending=False)
#FOR 2019
df_2019.sort_values(by=['max'], inplace=True, ascending=False)
#FOR 2020
df_2020.sort_values(by=['max'], inplace=True, ascending=False)

In [10]:
df_aqi_2017=df_2017[df_2017['max']>=151] # CITIES WTTH UNHEALTHY AIR QUALITY FOR EVERY ONE
df_aqi_2018=df_2018[df_2018['max']>=151] # CITIES WTTH UNHEALTHY AIR QUALITY FOR EVERY ONE
df_aqi_2019=df_2019[df_2019['max']>=151] # CITIES WTTH UNHEALTHY AIR QUALITY FOR EVERY ONE
df_aqi_2020=df_2020[df_2020['max']>=151] # CITIES WTTH UNHEALTHY AIR QUALITY FOR EVERY ONE

In [11]:
df_aqi_2017=df_aqi_2017.groupby(['Country']) 
df_aqi_2018=df_aqi_2018.groupby(['Country']) 
df_aqi_2019=df_aqi_2019.groupby(['Country']) 
df_aqi_2020=df_aqi_2020.groupby(['Country'])

In [12]:
df_aqi_2017.first()

                 City Specie    max
Country
CN       Shijiazhuang    aqi  500.0
VN              Hanoi    aqi  200.0

In [13]:
df_aqi_2018.first()

             City Specie    max
Country
CN         Anyang    aqi  500.0
PR       San Juan    aqi  374.0
VN          Hanoi    aqi  380.0

In [14]:
df_aqi_2019.first()

                 City Specie    max
Country
CN       Shijiazhuang    aqi  495.0
VN              Hanoi    aqi  204.0

In [15]:
df_aqi_2020.first()

             City Specie    max
Country
AU       Adelaide    aqi  161.0

# Number of countries with UNHEALTHY AQI>=151 for the years

In [16]:
print ('Number of countries with UNHEALTHY AQI>=151 for the year 2017:', len(df_aqi_2017) )
print ('Number of countries with UNHEALTHY AQI>=151 for the year 2018:', len(df_aqi_2018) )
print ('Number of countries with UNHEALTHY AQI>=151 for the year 2019:', len(df_aqi_2019) )
print ('Number of countries with UNHEALTHY AQI>=151 for the year 2020:', len(df_aqi_2020) )

Number of countries with UNHEALTHY AQI>=151 for the year 2017: 2
Number of countries with UNHEALTHY AQI>=151 for the year 2018: 3
Number of countries with UNHEALTHY AQI>=151 for the year 2019: 2
Number of countries with UNHEALTHY AQI>=151 for the year 2020: 1

# Number of COUNTRIES with UNHEALTHY AQI FOR SENSITIVE GROUPS>=101 for the years

In [17]:
df_aqi_2017_a=df_2017[df_2017['max']>=101] #COUNTRIES WTTH UNHEALTHY AIR QUALITY FOR SENSITIVE GROUPS
df_aqi_2018_a=df_2018[df_2018['max']>=101] #COUNTRIES WTTH UNHEALTHY AIR QUALITY FOR SENSITIVE GROUPS
df_aqi_2019_a=df_2019[df_2019['max']>=101] #COUNTRIES WTTH UNHEALTHY AIR QUALITY FOR SENSITIVE GROUPS
df_aqi_2020_a=df_2020[df_2020['max']>=101] #COUNTRIES WTTH UNHEALTHY AIR QUALITY FOR SENSITIVE GROUPS

In [18]:
df_aqi_2017_a=df_aqi_2017_a.groupby(['Country']) 
df_aqi_2018_a=df_aqi_2018_a.groupby(['Country']) 
df_aqi_2019_a=df_aqi_2019_a.groupby(['Country']) 
df_aqi_2020_a=df_aqi_2020_a.groupby(['Country'])

In [19]:
print ('Number of countries with UNHEALTHY FOR SENSITIVE GROUPS AQI>=101 for the year 2017:', len(df_aqi_2017_a) )
print ('Number of countries with UNHEALTHY FOR SENSITIVE GROUPS AQI>=101 for the year 2018:', len(df_aqi_2018_a) )
print ('Number of countries with UNHEALTHY FOR SENSITIVE GROUPS AQI>=101 for the year 2019:', len(df_aqi_2019_a) )
print ('Number of countries with UNHEALTHY FOR SENSITIVE GROUPS AQI>=101 for the year 2020:', len(df_aqi_2020_a) )

Number of countries with UNHEALTHY FOR SENSITIVE GROUPS AQI>=101 for the year 2017: 3
Number of countries with UNHEALTHY FOR SENSITIVE GROUPS AQI>=101 for the year 2018: 4
Number of countries with UNHEALTHY FOR SENSITIVE GROUPS AQI>=101 for the year 2019: 2
Number of countries with UNHEALTHY FOR SENSITIVE GROUPS AQI>=101 for the year 2020: 2

# Number of countries with MODERATE AQI>=51 <101 for the years

In [20]:
df_aqi_2017_c=df_2017[(df_2017['max']>51) & (df_2017['max']<=101)] #countries WTTH MODERATE AIR QUALITY 
df_aqi_2018_c=df_2018[(df_2018['max']>51) & (df_2018['max']<=101)] #countries WTTH MODERATE AIR QUALITY 
df_aqi_2019_c=df_2019[(df_2019['max']>51) & (df_2019['max']<=101)] #countries WTTH MODERATE AIR QUALITY 
df_aqi_2020_c=df_2020[(df_2020['max']>51) & (df_2020['max']<=101)] #countries WTTH MODERATE AIR QUALITY

In [21]:
df_aqi_2017_c=df_aqi_2017_c.groupby(['Country']) 
df_aqi_2018_c=df_aqi_2018_c.groupby(['Country']) 
df_aqi_2019_c=df_aqi_2019_c.groupby(['Country']) 
df_aqi_2020_c=df_aqi_2020_c.groupby(['Country'])

In [22]:
print ('Number of countries with MODERATE AQI>51 AND <101 for the year 2017:', len(df_aqi_2017_c) )
print ('Number of countries with MODERATE AQI>51 AND <101 for the year 2018:', len(df_aqi_2018_c) )
print ('Number of countries with MODERATE AQI>51 AND <101 for the year 2019:', len(df_aqi_2019_c) )
print ('Number of countries with MODERATE AQI>51 AND <101 for the year 2020:', len(df_aqi_2020_c) )

Number of countries with MODERATE AQI>51 AND <101 for the year 2017: 3
Number of countries with MODERATE AQI>51 AND <101 for the year 2018: 4
Number of countries with MODERATE AQI>51 AND <101 for the year 2019: 3
Number of countries with MODERATE AQI>51 AND <101 for the year 2020: 2

# Number of cities with GOOD AQI<=51 for the years

In [23]:
df_aqi_2017_b=df_2017[df_2017['max']<=51] #Countries WTTH GOOD AIR QUALITY 
df_aqi_2018_b=df_2018[df_2018['max']<=51] #Countries WTTH GOOD AIR QUALITY 
df_aqi_2019_b=df_2019[df_2019['max']<=51] #Countries WTTH GOOD AIR QUALITY 
df_aqi_2020_b=df_2020[df_2020['max']<=51] #Countries WTTH GOOD AIR QUALITY

In [24]:
df_aqi_2017_b=df_aqi_2017_b.groupby(['Country']) 
df_aqi_2018_b=df_aqi_2018_b.groupby(['Country']) 
df_aqi_2019_b=df_aqi_2019_b.groupby(['Country']) 
df_aqi_2020_b=df_aqi_2020_b.groupby(['Country'])

In [25]:
print ('Number of countries with GOOD AQI<=51 for the year 2017:', len(df_aqi_2017_b) )
print ('Number of countries with GOOD AQI<=51 for the year 2018:', len(df_aqi_2018_b) )
print ('Number of countries with GOOD AQI<=51 for the year 2019:', len(df_aqi_2019_b) )
print ('Number of countries with GOOD AQI<=51 for the year 2020:', len(df_aqi_2020_b) )

Number of countries with GOOD AQI<=51 for the year 2017: 1
Number of countries with GOOD AQI<=51 for the year 2018: 4
Number of countries with GOOD AQI<=51 for the year 2019: 4
Number of countries with GOOD AQI<=51 for the year 2020: 3

In [27]:
print (df_aqi_2017_b. first())
print (df_aqi_2018_b.first())
print (df_aqi_2019_b.first())
print (df_aqi_2020_b.first())

               City Specie   max
Country
MY       Kota Bharu    aqi  51.0
                City Specie   max
Country
CN       Qinhuangdao    aqi  50.0
MY           Malacca    aqi  51.0
PR          San Juan    aqi  51.0
VN             Hanoi    aqi  50.0
                City Specie   max
Country
CN       Qinhuangdao    aqi   0.0
MY        Alor Setar    aqi  51.0
PR          San Juan    aqi  22.0
VN             Hanoi    aqi  51.0
             City Specie   max
Country
AU       Adelaide    aqi  51.0
MY           Ipoh    aqi  51.0
PR       San Juan    aqi  22.0